body {
    position: relative;
    background-color: #888;
    background-image: url('images/blu-print.jpg')
}


.nav-link , .navbar-brand{ 
    color: #f4f4f4; cursor: pointer;
}

.nav-link{ 
    margin-right: 1em !important;
}

.nav-link:hover{ 
    background: #b4adad; color: #2f1135; 
}

.navbar-collapse{ 
    justify-content: flex-end;
}

.navbar-toggler{  
    background:#4c305c !important;
}

.navbar-collapse{
    justify-content: flex-end;
   }

   .bg-dark{
    background-color:#4c305c!important
    }
    .bg-primary{
    background-color:#c49de481!important
    }

 /*header style*/
.header{
    background-image: url("images/cape\ town.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }   

   .overlay{
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.50);
   }

   .description{
    position: relative;
    top: 30%;
    margin: auto;
    padding: 9em;
}
.description h1{
    margin-top: 10%;
    color:rgb(152, 6, 185) ;
    text-align: center;

   }
   .description p{
    color:rgb(53, 45, 45);
    font-size: 25px;
    /* width: 10%; */
    line-height: 1.5;
   }
   .description button{
    border:1px  solid rgba(178, 0, 249, 0.137);
    background:rgba(149, 0, 249, 0.932);
    color:#fff;
   }

   .about{
    margin: 4em 0;
    padding: 1em;
    position: relative;
   }
   .about h1{
    color:#F97300;
    margin: 2em;
   }
   .about img{
    height: 100%;
       width: 100%;
       border-radius: 50%
   }
   .about span{
    display: block;
    color: #888;
    position: absolute;
    left: 115px;
   }
   .about .desc{
    padding: 2em;
    border-left:4px solid rgb(152, 6, 185);
   }
   .about .desc h3{
    color: rgb(152, 6, 185);
   }
   .about .desc p{
    line-height:2;
    color:#888;
   }

   /*Portfolio*/
.skills{
    margin: 4em 0;
       position: relative; 
   }
   .skills h1{
    color:rgb(152, 6, 185);
    margin: 2em; 
   }
   .skills img{
     height: 5rem;
     
     margin: 1em;

   }

   .projects{
    margin: 4em 0;
    position: relative; 
   }
   .projects h1{
    color:rgb(152, 6, 185);
    margin: 2em; 
   }
   .projects .card{
    box-shadow: 0 0 20px #ccc;
   }
   .projects .card img{
    width: 100%;
    height: 12em;
   }
   .projects .card-title{
    color:rgb(152, 6, 185);
     
   }
   .projects .card-body{
    padding: 1em;
   }


   .container{
       margin-bottom: 10px;
       padding: 1em;
       align-content: center;

   }

   .img-fluid {
    width: 100% \9;
    width: 200px;
   }

   .container h1{
 color: rgb(152, 6, 185);
 text-align: center;
   }

   .container h3{
       color: rgb(152, 6, 185);
       
   }

   .card {
       padding: 5%;
       
   }

   .card h1{
       color: rgb(152, 6, 185);
   }

   .card p{
       color: #888;
   }

   .education{
       padding: 5%;
   }

  .firstcourse{
      background-color: #c49de481;
  }

  .contact{
      margin-left: 7em;
  }

  .card h5 {
      color: rgb(152, 6, 185);
  }
